{% extends "base.html" %}

{% block posthead %}
  {% for term in terms %}
    <link rel="prerender" href="{{ term.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <h1>{{ taxonomy.name|capitalize }}</h1>
  <div class="taxonomy-container">
    {% for term in terms | sort(attribute="pages") | reverse %}
      <div class="tag-list">
        <a href="{{ term.permalink }}" class="secondary-link">{{ term.name }}</a> ({{ term.pages | length }})
      </div>
    {% endfor %}
  </div>
{% endblock content %}
