{% extends "base.html" %}

{% import "post-preview.html" as post_macros %}

{% block posthead %}
  {% for post in term.pages %}
    <link rel="prerender" href="{{ post.permalink }}" />
  {% endfor %}
{% endblock posthead %}

{% block content %}
  <div class="page-title">
    <h1>{{ term.pages | length }} posts in "{{ term.name }}"</h1>
  </div>

  <div class="taxonomy-container">
    {% for post in term.pages %}
      {{ post_macros::post_preview(post=post) }}
    {% endfor %}
  </div>
{% endblock content %}
